//Font Family
$monMed: monserrat-med, sans-serif;
$monBold: monserrat-bold, sans-serif;
//Palette
$platinum: #e4e6e7;
$grayWeb: #818082;
$wildBlueYonder: #93a9df;
$frenchSkyBlue: #78b5fd;
$blueCrayola: #5b80ed;
$onyx: #3a3a3c;
